<!DOCTYPE html>
<html>
  <head>
  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/simpleCart.min.js"></script>
  <script type="text/javascript" src="javascripts/list.js"></script>
    <title><%= name %></title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
  <div class="check-out">
    <h1>购物车</h1>
    <tr>
      <th>物品</th>
      <th>数量</th>
      <th>单价</th>
      <th>属性</th>
      <th>总价</th>
      <th>
    </tr>
    <div class="simpleCart_items"></div>
  </div>
  </body>
</html>