<!DOCTYPE html>
<html>
  <head>
  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/simpleCart.min.js"></script>
  <script type="text/javascript" src="javascripts/list.js"></script>
    <title><%= name %></title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
  <!--头导航栏-->
  <div class="header">
    <div class="container">
      <div class="login-bars">
        <a class="btn btn-default log-bar-btn" href="login" role="button" id="home_login"><%= name %></a>
        <a class="btn btn-default log-bar-btn" href="register" role="button" id="home_register"><%= item %></a>
        <div class="cart box_1a">
          <a href="list">
            <h3>
              <div class="total_cart">
                <span class="simpleCart_total"></span> ( <span id="simpleCart_quantity" class="simpleCart_quantity"></span> ) 
              </div>
            </h3>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="simpleCart_items"></div>
  <a href="home">主页</a>
  <div class="simpleCart_total"></div>
  <div class="simpleCart_quantity"></div>
  </body>
</html>